.track_new
  .header
    %h1 Upload Tracks
  %a{href: '/ui'} Player

  #uploader
    %a#browse{href: '#'} Browse

  .controls
    %label{for: 'tags'} Tags:
    %input.tags{type: 'text'}

:coffeescript
  jQuery(document).ready ->
    $('#uploader').pluploadQueue
      runtimes: 'html5'
      url: "#{tracks_url}"
      headers: { 'X-CSRF-Token': $('meta[name=csrf-token]').attr('content') }
      max_file_size: '10mb'
      urlstream_upload: true
      file_data_name: 'file'
      multiple_queues: true
      rename: true
      filters: [{ title: "Audio files", extensions: "#{AudioInfo::SUPPORTED_EXTENSIONS.join(',')}" }]

    $('.controls .tags').combobox({ matchFromStart: false, allowAnyValue: true, multiWord: true })
