.player.panel
  .volume{style: 'display: none'}
    %a.up
    .slider
    %a.down
    %span.text

  .controls
    %a.play{href: '#'}
    %a.pause{href: '#'}
    %a.stop{href: '#'}
    %a.vol_down{href: '#'}
    %a.vol_up{href: '#'}
    %a.upload{href: '#upload'}

  .pos{style: 'display: none'}
    .progress
    .text

{{if playlist.length}}
.playlist.panel
  %ul.tracks
    {{each playlist}}
    %li.track {{tmpl($value) 'player_track'}}
    {{/each}}
{{/if}}

