.player.panel
  .controls
    %a.play{href: '#',   title: 'Play'}
    %a.pause{href: '#',  title: 'Pause'}
    %a.next{href: '#',   title: 'Next Track'}
    %a.vol_dn{href: '#', title: 'Volume Down'}
    %a.vol_up{href: '#', title: 'Volume Up'}
    %a.upload{href: '#upload', title: 'Upload Tracks'}

  .pos{style: 'display: none'}
    .progress
    .text
