.playlist
  overflow: hidden scroll

ul.tracks
  list-style-type: none
  margin: 0
  padding: 0
  .track
    background: #ddd
    margin: 0.2em 0
    padding: 0.5em
    .info
      font-size: smaller
      .album
        font-style: italic
  .track:first-child
    background: #dda
